*{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

main{
    display: flex;
    margin-top: 40px;
    margin-left: 15%;
}

button{
    border-radius: 24px;
    margin: 12px;
    border: 1px #0A3871 solid;
    background: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
}

textarea{
    border: none;
    background: none;
}
textarea:focus{
    outline: none;
}
::placeholder{
    color: #0A3871;
}

section{
    margin: 15px;
}

section:last-child{
    margin-left: 100px;
    border-radius: 32px;
    background: white;
    background-position: center;
    background-image: url(images/Muñeco.png);
    background-repeat: no-repeat;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);;
    width: 400px;
    height: 800px;
}

.logo{
    position: absolute;
    top: 40px;
    left: 40px;
}


.entradaDatos{
    margin-top: 128px;
    width: 90%;
}

.informacionUsuario{
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}

.botonesEncripDesenCrip{
    display: flex;

}

.encriptar{
    width: 328px;
    height: 67px;
    background: #0A3871;
    color: white;
}

.desencriptar{
    width: 328px;
    height: 67px;
}

.salidaDatos{
    width: 350px;
    height: 650px;
    margin: 25px;
    background: none;
    background-image: url(images/Frame\ 5.png);
    background-repeat: no-repeat;
}

.copiar{
    width: 164px;
    height: 67px;
    margin: 10px 118px;
}